<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>button</title>
<link rel="stylesheet" href="../../../static/css/lib/global/jia178.css" />
<link rel="stylesheet" href="../../../static/css/lib/button/button.css" />
</head>

<body>
<div>
1.上传按钮
<a class="header_upload_btn button178" href="javascript:;" onfocus="this.blur()" script-role="header_upload_btn">上传</a>

2.搜索按钮
<a class="header_search_btn button178" href="javascript:;" onfocus="this.blur()" script-role="header_search_btn">搜索</a>

3.banner_left
<a class="banner_left_btn button178" href="javascript:;" onfocus="this.blur()" script-role="banner_left_btn">prev</a>

3.banner_right
<a class="banner_right_btn button178" href="javascript:;" onfocus="this.blur()" script-role="banner_right_btn">next</a>

4.顶部搜索按钮
<a class="header_search_mirror button178" href="javascript:;" onfocus="this.blur()" script-role="header_search_mirror">next</a>

5.顶部搜索框
<div class="header_search_area">
	<input type="text" / script-role="header_search_input">
	<a class="header_search_mirror button178" href="javascript:;" onfocus="this.blur()" script-role="header_search_mirror">next</a>
</div>

6.第三方登录按钮
<a class="weibo_btn button178 other_way" href="javascript:;" onfocus="this.blur()" script-role="weibo_btn"><span>使用新浪微博登录</span></a>

<a class="qq_btn button178 other_way" href="javascript:;" onfocus="this.blur()" script-role="qq_btn"><span>使用QQ账号登录</span></a>


<a class="renren_btn button178 other_way" href="javascript:;" onfocus="this.blur()" script-role="renren_btn"><span>使用人人账号登录</span></a>


7.注册刷新按钮
<a class="refresh_btn button178" href="javascript:;" onfocus="this.blur()" script-role="refresh_btn">刷新</a>

8.注册单选按钮
<a class="radio_btn button178 default" href="javascript:;" onfocus="this.blur()" script-role="radio_btn"></a>

9.注册阅读协议复选框
<a class="check_btn button178" href="javascript:;" onfocus="this.blur()" script-role="check_btn"></a>

10.注册按钮
<a class="regist_btn button178" href="javascript:;" onfocus="this.blur()" script-role="regist_btn">注册</a>


11.登录按钮
<a class="login_btn button178" href="javascript:;" onfocus="this.blur()" script-role="login_btn">登录</a>


12.关闭
<a class="close_btn button178" href="javascript:;" onfocus="this.blur()" script-role="close_btn">关闭</a>

13. 上传图片
<a class="upload_btn button178" href="javascript:;" onfocus="this.blur()" script-role="upload_btn"></a>

<a class="upload_btn_text button178" href="javascript:;" onfocus="this.blur()" script-role="upload_btn"><span>上传平面布置图</span></a>

<br>
14. 通用按钮确定
<br>
<a class="confirm_btn button178" href="javascript:;" onfocus="this.blur()" script-role="confirm_btn"><span>发布</span></a>
<br>
15.通用按钮取消
<br>
<a class="cancel_btn button178" href="javascript:;" onfocus="this.blur()" script-role="cancel_btn"><span>取消</span></a>
<br>

<a class="view_btn button178" href="javascript:;" onfocus="this.blur()" script-role="view_btn"><span>浏览</span></a>
<br>

16.保存草稿按钮取消
<br>
<a class="save_btn button178" href="javascript:;" onfocus="this.blur()" script-role="save_btn"><span>保存草稿</span></a>
<br>

17.标签关闭按钮
<br>
<a class="tag_close button178" href="javascript:;" onfocus="this.blur()" script-role="tag_close">关闭</a>


18.弹出框登录按钮
<a class="box_login_btn button178" href="javascript:;" onfocus="this.blur()" script-role="confirm_btn">登录</a>

19.案例发布关闭按钮
<a class="upload_close button178" href="javascript:;" script-role="upload_close">关闭</a>

20.旋转按钮
<a class="rotate_btn button178" href="javascript:;" script-role="rotate_btn">旋转</a>

21.裁切按钮
<a class="cut_btn button178" href="javascript:;" script-role="cut_btn">裁切</a>

22.左按钮
<a class="left_btn1 button178" href="javascript:;" script-role="left_btn1">左</a>

23.右按钮
<a class="right_btn1 button178" href="javascript:;" script-role="right_btn1">右</a>

24.左按钮
<a class="left_btn2 button178" href="javascript:;" script-role="left_btn2">左</a>

25.右按钮
<a class="right_btn2 button178" href="javascript:;" script-role="right_btn2">右</a>


26.上下按钮
<a class="up_btn button178" href="javascript:;" script-role="up_btn">上</a>

27.上下按钮
<a class="down_btn button178" href="javascript:;" script-role="down_btn">上</a>

27.橙色按钮
<br>
<a class="yellow_btn clearfix" href="javascript:;" script-role="yellow_btn">
	<span class="head button178 fl"></span>
	<span class="mid button178 fl">sb</span>
	<span class="end button178 fl"></span>
</a>
</div>
</body>
</html>
