<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>icon</title>
<link rel="stylesheet" href="../../../static/css/lib/icon/icon.css" />
<style>
	body {background: #000;}
</style>
</head>

<body>
1.每日之星图标
<span class="star_ico icon178">每日之星</span>

2.关注图标
<span class="foc_ico icon178">关注</span>

3.图钉或者推荐图标
<span class="rec_ico icon178">更多推荐</span>

4.浏览
<span class="view_ico icon178">浏览</span>

5.喜欢
<span class="fav_ico icon178">喜欢</span>

6.评论
<span class="arg_ico icon178">评论</span>

7.新闻
<span class="list_ico icon178">dot</span>

8.推荐指数星星
<span class="score_ico icon178">star</span>

9.头部列表
<span class="header_share_list icon178">list_dot</span>

10.查看更多
<span class="look_more icon178">查看更多</span>

11.加减号
<span class="add_reduce icon178"></span>

12.热门主题
<span class="hot icon178">hot</span>

13.最近浏览
<span class="recent icon178">recent</span>

14.我的订阅
<span class="book icon178">book</span>

15.回到顶部
<span class="back_top icon178">back_top</span>

16.博文数
<span class="articals icon178">back_top</span>

17.喜欢数
<span class="favs icon178">back_top</span>

18.订阅数
<span class="books icon178">back_top</span>

19.文章相关图标

访问他的家
<span class="artical_home icon178">home</span>

关注
<span class="artical_foc icon178">foc</span>

私信
<span class="artical_mail icon178">mail</span>

加入项目灵感辑
<span class="artical_add icon178">add</span>

评论
<span class="artical_arg icon178">arg</span>

分享
<span class="artical_share icon178">share</span>

dot
<span class="artical_dot icon178">dot</span>

trangle
<span class="trangle icon178">trangle</span>

喜欢
<span class="artical_fav icon178">fav</span>

详情页

个人主页
<span class="detail_home icon178">home</span>

私信
<span class="detail_mail icon178">mail</span>

关注他
<span class="detail_foc icon178">foc</span>

发布

灵感上传
<span class="upload_inspir icon178"></span>

案例上传
<span class="upload_example icon178"></span>

发布问答
<span class="upload_arg icon178"></span>

钩钩
<span class="upload_right icon178"></span>

22.图钉
<span class="pic_pin icon178" href="javascript:;" script-role="pic_pin_lead"></span>
23.
<span class="icon_block icon178"></span>
24.
<span class="icon_star icon178"></span>
25.
<span class="icon_carry icon178"></span>
26.
<span class="add icon178"></span>
27.
<span class="sum icon178"></span>
28.
<span class="effect icon178"></span>

29.
<span class="product_detail icon178"></span>
</body>
</html>