.list table {
	border-collapse: collapse
}

.layer {
	width: 1000px;
	height: 600px;
	overflow: auto;
	background: #fff;
	position: fixed;
	margin: -300px 0 0 -500px;
	left: 50%;
	top: 50%;
	border-radius: 10px;
	border: 1px solid #000;
	z-index: 5000
}
.layer_select {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0
}
.layer .list {
	width: 90%;
	margin: 0 auto
}
.box {
	width: 500px;
	height: 300px;
	border: 1px solid #000;
	border-radius: 5px;
	position: fixed;
	margin: -150px 0 0 -250px;
	left: 50%;
	top: 50%;
	display: none
}
.box .title-list {
	height: 50px;
	line-height: 50px;
	background: #428BCA;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative
}
.box .close {
	position: absolute;
	right: 15px;
	top: 0px;
	cursor: pointer
}

.table-title .service-list li {
	width: 100px;
	height: 100%;
	border-left:1px solid #cdcdcd;
	text-align: center;
	cursor: pointer;
}

.table-title .service-list li.active {
	background: #ebebeb;
}
