.ui-select .ui-select-head {
	background: #fff;
	cursor: pointer;
}

.ui-select .ui-head-head {
	height: 30px;
	
}

.ui-select .ui-head-content {
	float:left;
	width: 70px;
	height: 30px;
	text-align: center;
	overflow: hidden;
	line-height: 30px;
}

.ui-select .ui-head-trangle {
	float:right;
	width: 30px;
	height: 30px;
	background: #fff;
	position: relative;
}	

.ui-select .ui-select-head img {
	height: 20px;
	vertical-align: middle;
}


.ui-select .ui-select-content li {
	background: #fff;
	padding:5px;
	cursor: pointer;
	overflow: hidden;
	float: left;
}

.ui-select .ui-select-content li:hover {
	background: #1e90ff;
	color:#fff;
}

.ui-select .ui-select-content li img {
	height: 30px;
	vertical-align: middle;
	margin-right:5px;
}


.ui-select .trangle {
	width: 0;
	height: 0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:10px solid #000;
	position: absolute;
	left:50%;
	top:50%;
	margin:-5px 0 0 -5px;
}
