.sales ul li img {width: 100%;}
.sales ul li dl {background:#fff;}
.sales ul li dl dd {padding:1em 0;}
.sales .inner {width: 90%;margin:0 auto;}
.sales .top {border-bottom:1px solid #6d7171;padding-bottom: 1em;}
.sales .button {width: 60px;padding:0.2em 0!important;color:#fff;}
.sales .bottom {line-height: 18px;}