.teambuy ul li img {width: 100%;}
.teambuy ul li dl {background:#fff;}
.teambuy ul li dl dd {padding:1em 0;}
.teambuy .inner {width: 90%;margin:0 auto;}
.teambuy .top {border-bottom:1px solid #6d7171;padding-bottom: 1em;}
.teambuy .button {width: 70px;padding:0.2em 0!important;color:#fff;}
.teambuy .bottom {line-height: 18px;}